<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/security       
    http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
		<csrf disabled="true" />
		<intercept-url pattern="/userlogin" access="permitAll()" />
		<intercept-url pattern="/static/**" access="permitAll()" />


		<intercept-url pattern="/roles"
			access="hasAuthority('ROLE_USER')" />
		<intercept-url pattern="/perms"
			access="hasAuthority('ROLE_ADMIN')" />
		<intercept-url pattern="/**"
			access="isFullyAuthenticated()" />
		<form-login login-page="/userlogin"
			authentication-failure-handler-ref="myAuthenticationFailureHandler"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"/>
		<access-denied-handler error-page="/403" />
	</http>



	<beans:bean id="myAuthenticationSuccessHandler" class="com.hxzy.hrsystem.security.MyAuthenticationSuccessHandler"></beans:bean>
	<beans:bean id="myAuthenticationFailureHandler" class="com.hxzy.hrsystem.security.MyAuthenticationFailureHandler"></beans:bean>
	
	
	<beans:bean id="myUserDetailsService"
		class="com.hxzy.hrsystem.security.MyUserDetailsService"></beans:bean>
	<authentication-manager>
		<authentication-provider
			user-service-ref="myUserDetailsService" />
	</authentication-manager>





















</beans:beans>
